<div class="container-fluid ms-4">
  <h1 class="mb-5 mt-5">Cadastro de Pessoa</h1>
  <form [formGroup]="pessoaForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome *</label>
          <input id="nome" formControlName="nome" class="form-control" placeholder="Digite o Nome" required>
        </div>

        <div class="mb-3">
          <label for="cpf" class="form-label">CPF/CNPJ *</label>
          <input id="cpf" formControlName="cpf" class="form-control" inputmode="numeric" type="text"
            placeholder="Digite o CPF/CNPJ" mask="CPF_CNPJ" required>
        </div>

        <div class="mb-3">
          <label for="telefone" class="form-label">Telefone</label>
          <input id="telefone" formControlName="telefone" class="form-control" 
          mask="(00) 0 0000 0000"
          prefix="+55 " inputmode="numeric" type="text" placeholder="Digite o Telefone">
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input id="email" formControlName="email" class="form-control" email="true" type="email" placeholder="Digite o E-mail">
        </div>
      </div>

      <div class="col-lg-5 me-1">
        <div class="col mb-3">
          <label for="cep" class="form-label">CEP</label>
          <input id="cep" formControlName="cep" (blur)="findCep($event)" class="form-control" inputmode="numeric" 
          type="text" mask="00000-000" placeholder="Digite o CEP">
        </div>

        <div class="row mb-3">
            <div class="col-lg-9">
              <label for="endereco" class="form-label">Endereço</label>
              <input id="endereco" formControlName="endereco" type="text" class="form-control" placeholder="Digite o Endereço">
            </div>

            <div class="col-lg-3">
              <label for="numero" class="form-label">Número</label>
              <input id="numero" formControlName="numero" class="form-control" inputmode="text" type="text" placeholder="Digite o N.º">
            </div>
        </div>

        <div class="mb-3">
          <label for="bairro" class="form-label">Bairro</label>
          <input id="bairro" formControlName="bairro" type="text" class="form-control" placeholder="Digite o Bairro">
        </div>

        <div class="row">
          <div class="mb-3">
            <label for="cidadeId" class="form-label">Cidade</label>
            <select id="cidadeId" formControlName="cidadeId" class="form-control">
              <option value selected disabled hidden>Selecione a cidade</option>
              @if (!cidades) { 
                <option disabled> Sem registros </option>
              } @else {
                <option *ngFor="let cidade of cidades" [value]="cidade.id">{{ cidade.nome }}</option>
              }
            </select>
          </div>
        </div>

       

        <div class="row mt-auto">
          <div class="col-lg-12 text-end mt-5">
            <button type="button" [routerLink]="['/']" class="btn btn-danger me-2">Cancelar</button>
            <button type="submit" class="btn btn-blue">Cadastrar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
